@import "tailwindcss";

@keyframes gradient-x {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.btn-gradient-animate {
  background-size: 200% 200%;
  animation: gradient-x 3s ease infinite;
}

@theme {
  /* breakpoints */
  --breakpoint-tablet: 640px;
  --breakpoint-laptop: 1024px;
  --breakpoint-desktop: 1280px;
  --breakpoint-widescreen: 1440px;

  /* colors */
  --color-darkBlueBackGround: #160430;
  --color-brand-primary: #501794;
  --color-brand-accent: #3e70a1;
}
